{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

<!-- <div class="deficit-chart" data-chart-data="{{ chartData | dump }}">
  <figure class="deficit-chart__figure">
  </figure>
</div -->

<div class="explainer">

<div data-chart-data="{{ chartData | dump }}"></div>



  <div class="explainer__intro">
    <div class="o-grid-container o-typography-body"><div class="o-grid-row"><div data-o-grid-colspan="12 Mcenter M9 L8 XL7">
{% markdown %}
Philip Hammond will present his second Budget as chancellor on November 22. Theresa May, the UK’s embattled prime minister, is looking to him to help deliver on the Conservative party’s pledge in this year’s general election to create “a strong economy that works for everyone”.

But events have conspired against the chancellor, leaving him with limited scope for any significant giveaways.
{% endmarkdown %}
    </div></div></div>
  </div>

  <div class="explainer__central-section">

{% markdown %}
In his last budget, published in March, Mr Hammond set out a plan to reduce public borrowing from £58.3bn this year to £16.8bn by 2021-22.

This gave Mr Hammond <span data-chart-scene="with-cap"></span>£25.8bn of headroom against his self-imposed fiscal target of reducing structural borrowing to no more than 2 per cent of national income (or £Xbn) by 2020-21. He said he needed this room for manoeuvre to allow him to accommodate any adverse shocks as the UK leaves the EU.

<!-- ##### Longer term <span data-chart-scene="mid-twenties"></span> -->

The chancellor has also committed to eliminate borrowing entirely by the mid 2020s.

##### Revised projection <span data-chart-scene="revised-projections"></span>

But since March the Conservative government have been forced and chosen to announce some extra spending increases and tax cuts that have cost the exchequer money.

A backbench rebellion forced Mr Hammond to U-turn in March on his plan to raise National Insurance Contributions for the self-employed.

The Conservative government has also agreed to spend an extra £1bn in Northern Ireland over the course of this parliament to secure the support of the Democratic Unionist Party to prop up their minority administration.

The government also plans to delay the roll-out of its “making tax digital” programme and at the Conservative party conference in October ministers announced an extra £2bn for affordable housing and an extra £10bn for the Help the Buy programme over this parliament.

##### Some improvement <span data-chart-scene="good-news"></span>

There has been some good news for Mr Hammond. Even though growth has been slower than expected this year, tax revenues have been higher than the Office for Budget Responsibility predicted in March.

This means borrowing could be around £7bn lower than expected this year. Some of this better performance could also be repeated in future years.

##### New forecast <span data-chart-scene="bad-news"></span>

But there has also been some significant bad news for the chancellor. The Office for Budget Responsibility have announced that they plan to lower their forecasts for productivity and economic growth.

Lower growth means less money from tax revenues and more pressure for spending on means-tested benefits. This will push up borrowing in future.

The OBR have not yet said exactly how much they will change their forecast. The Institute for Fiscal Studies estimated recently that these changes to the forecast could leave borrowing at £32.6bn in 2020-21.

That would mean that, in the space of eight months, Mr Hammond has <span data-chart-scene="squeezed-headroom">lost half of his headroom</span> against his fiscal target, even before any potential Brexit-related shocks have hit the economy.
{% endmarkdown %}
  </div>

  <div class="explainer__outro">
    <div class="o-grid-container o-typography-body"><div class="o-grid-row"><div data-o-grid-colspan="12 Mcenter M9 L8 XL7">
{% markdown %}
**TKTK Final text** - Could refer to the other policies that Hammond is under pressure to deliver and what those might cost - lifting cap on public sector pay, extra money for NHS, freezing fuel duty, delivering on Conservative manifesto promise on income tax thresholds etc.
{% endmarkdown %}
    </div></div></div>
  </div>
</div>


<div class="o-grid-container"><div class="o-grid-row"><div data-o-grid-colspan="12 Mcenter M9 L8 XL7">
{% if flags.shareButtons %}
  {% include "includes/share.html" %}
{% endif %}
<div style="height:40px"></div>
{# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if flags.ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #}
</div></div></div>

</div>
{% endblock %}
