{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

<!-- <div class="deficit-chart" data-chart-data="{{ chartData | dump }}">
  <figure class="deficit-chart__figure">
  </figure>
</div -->

<div class="explainer">

<div data-chart-data="{{ chartData | dump }}"></div>



  <div class="explainer__intro">
    <div class="o-grid-container o-typography-body"><div class="o-grid-row"><div data-o-grid-colspan="12 Mcenter M9 L8 XL7">
{% markdown %}
When Philip Hammond presents the Budget on November 22, he will [hope to create](https://www.ft.com/content/66f8e992-c85e-11e7-ab18-7a9fb7d6163e) “a strong economy that works for everyone”. But events have conspired against the chancellor, leaving him with limited scope for action.

{% endmarkdown %}
    </div></div></div>
  </div>

  <div class="explainer__central-section">

{% markdown %}
In his last Budget in March of this year, Mr Hammond set out a plan to reduce public borrowing from £58.3bn this year to £16.8bn by 2021–22.

This gave Mr Hammond <span data-chart-scene="with-cap"></span>£26bn of headroom against his self-imposed fiscal target of borrowing no more than 2 per cent of national income in 2020–21.

He said he needed this room for manoeuvre to accommodate any adverse shocks as the UK gets ready to leave the EU.

<hr />

**The <span data-chart-scene="mid-twenties"></span>chancellor has also** committed to eliminate borrowing entirely by the mid-2020s.

This will be difficult to do, because the UK’s ageing population is expected to increase demand for more public spending on health, social care and pensions.

But that is a problem that Mr Hammond does not have to deal with this week, because the new forecasts from the Office for Budget Responsibility published alongside the Budget will only go up to 2022–23.

<span data-chart-scene="initial-again"></span>

<hr />

**Since March, the Conservatives** have announced extra spending increases and tax cuts that have cost the exchequer money.<span data-chart-scene="revised-projections"></span>

Ranging from Mr Hammond’s [embarrassing U-turn](https://www.ft.com/content/9cb405ae-0977-11e7-97d1-5e720a26771b) in March on his plan to raise National Insurance contributions for the self-employed, to the [£1bn deal](https://www.ft.com/content/c02642a6-5d85-11e7-b553-e2df1b0c3220) with Northern Ireland’s Democratic Unionist party, money for these and other commitments has to be found.

<hr />

<span data-chart-scene="good-news"></span>**There has been [some good news](https://www.ft.com/content/bdf8a978-b574-11e7-aa26-bb002965bce8)** for Mr Hammond over the past few months. Tax revenues have been higher and spending lower than the OBR predicted in March.

This means borrowing could be around £7 to £8bn lower this year than had been expected. And this could be repeated in future years.

<hr />

<span data-chart-scene="bad-news"></span>**But this good news will be more than offset** by the OBR’s announcement that it plans to lower its forecasts for productivity and economic growth.

Lower growth means lower tax revenues and more pressure for spending on means-tested benefits. This will push up borrowing in future.

The OBR has not yet said exactly how much it will change its forecast. But the Institute for Fiscal Studies think-tank recently [estimated](https://www.ft.com/content/73cfb778-bb0b-11e7-8c12-5661783e5589) that these changes to the forecast could leave borrowing at £33bn in 2020–21.

That would mean that, in the space of eight months, Mr Hammond has <span data-chart-scene="squeezed-headroom">lost half of his headroom</span> against his fiscal target, even before any potential Brexit-related shocks have hit the economy.

<hr />

<span data-chart-scene="moved-goalposts"></span>
**But Mr Hammond is going to move the goalposts** to make his target easier to meet.

The public sector borrowing figures published in March included the borrowing of English housing associations because these were, at the time, classified as part of the public sector.

But last week, after the government pushed new legislation through parliament, the Office for National Statistics announced that it has reclassified these housing associations as part of the private sector.

That takes borrowing of around £5bn a year off the public sector balance sheet, and gives Mr Hammond some extra wiggle room.

{% endmarkdown %}
  </div>

  <div class="explainer__outro">
    <div class="o-grid-container o-typography-body"><div class="o-grid-row"><div data-o-grid-colspan="12 Mcenter M9 L8 XL7">
{% markdown %}
But even moving the goalposts in this way may not give Mr Hammond enough scope to meet all of the calls he is receiving for extra cash.

Among other things, he is under pressure to lift the [public sector pay cap](https://www.ft.com/content/79231c3c-97d5-11e7-b83c-9588e51488a0), abandon the freeze on working age benefits, [increase spending on the NHS](https://www.ft.com/content/31b060ea-bc9b-11e7-b8a3-38a6e068f464), freeze fuel duty, fix the [broken housing market](https://www.ft.com/content/a949a54e-b8d1-11e7-9bfb-4a9c83ffa852) and deliver on the Conservatives’ manifesto promise to raise income tax thresholds.
{% endmarkdown %}
    </div></div></div>
  </div>
</div>


<div class="o-grid-container"><div class="o-grid-row"><div data-o-grid-colspan="12 Mcenter M9 L8 XL7">
{% if flags.shareButtons %}
  {% include "includes/share.html" %}
{% endif %}
<div style="height:40px"></div>
{# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if flags.ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #}
</div></div></div>

</div>
{% endblock %}
