@import 'o-colors/main';
@import 'o-grid/main';
@import './components/core/main';
@import './components/deficit-chart/deficit-chart';

.explainer {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  &__intro,
  &__main,
  &__outro {
    margin: 0 auto;
    max-width: 675px;
  }
}
