@import 'o-colors/main';
@import 'o-grid/main';
@import './components/core/main';

.explainer {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

$chart-height: 280px;

.deficit-chart {
  height: $chart-height;
  width: 100%;
  margin: 0 auto 30px;
  position: relative;
  pointer-events: none;

  &__figure {
    display: block;
    height: $chart-height;
    width: 100%;
    padding: 10px;
    margin: 0;
    transition: background, box-shadow 0.1s linear;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    &--stuck {
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
      background: white;
    }

    &--at-bottom {
      position: absolute;
      left: 0;
      background: #fff1e5;
    }
  }
}

@include oGridRespondTo(M) {
  .explainer {
    &__main-body {
      margin-top: 40px;
    }

    h5 {
      margin-top: 100px;
    }
  }

  .deficit-chart {
    position: absolute;
    right: 0;
    margin-top: 40px;
    width: 50%;
    height: 100vh;

    &__figure {
      height: 100vh;
      align-items: flex-start;

      &--stuck {
        left: auto;
        width: 50%;
        box-shadow: none;
        background: pink;
      }

      > pre {
        outline: 1px solid blue;
      }
    }
  }
}
