$chart-outer-height: 300px;
$chart-outer-width: 300px;

.deficit-chart {
  height: $chart-outer-height;
  width: $chart-outer-width;
  margin: 0 auto;
  margin-bottom: 30px;

  &__figure {
    // outline: 1px solid red;
    background: white;
    height: $chart-outer-height;
    width: $chart-outer-width;
    margin: 0;
    background: url(http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8489325275-fnxw6.png);
    background-size: cover;

    &--stuck {
      position: fixed;
      top: 0;
    }

    &--at-bottom {
      position: fixed;
    }
  }
}

[data-marker='unstick'] {
  outline: 1px solid purple;
}
